:root {
    /* COLORS */
    --color-primary: #DBD1EF;
    --color-secondary: #8143FF;
    --color-white: #E8E8E8;
    --color-black: #1C191A;

}

@font-face {
    font-family: "Press Start";
    src: url("../../fonts/PressStart.ttf");
}

@font-face {
    font-family: "Mordoto Regular";
    src: url("../../fonts/MardotoRegular.ttf");
}