:root {
    /* COLORS */
    --color-primary: #DBD1EF;
    --color-secondary: #8143FF;
    --color-white: #E8E8E8;
    --color-black: #1C191A;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-primary);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 50px;
}